#quotebtn {
    padding: 12px 24px;
    background-color: #5f9bd3;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 22px;
    font-family: 'Segoe UI', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;                  
    display: flex;
    justify-content: center;       
    align-items: center;            
    background-color:  #24a866;    
  }
  

  #quotebtn:hover {
    background-color: #56a9c2;
    transform: scale(1.05);
  }
  
.container{
    text-align: center;
}

p{
    color: #191b15;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}